@model IEnumerable<Student>;

<div>Student List</div>
<br />
<a asp-action="AddStudent" class="btn btn-primary">Add Student</a>


<table class="table table-dark">

    <tr>
        <th colspan="8">Student</th>
    </tr>

    <tr>
        <td>Name</td>
        <td>Course</td>
        <td>Admission Date</td>
        <td>Email</td>
        <td>GPA</td>
        <td>Details</td>
        <td>Update</td>
        <td>Delete</td>


    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.FirstName @student.LastName</td>
            <td>@student.Course</td>
            <td>@student.AdmissionDate</td>
            <td>@student.Email</td>
            <td>@student.GPA</td>
            <td><a asp-action="ShowDetail" asp-route-id="@student.Id" class="btn btn-primary">Show Details</a></td>
            <td><a asp-action="UpdateStudent" asp-route-id="@student.Id" class="btn btn-info">Update Student</a></td>
            <td><a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Delete Student</a></td>

        </tr>
    }
</table>